.hide{
	display: none;
}
.show{
	display: block;
}

*{
	margin: 0;
}
.main-wrapper{
	height: 100vh;
}
.page-1{
	height: 100%;
}
.upper{
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.below{
	height: 15%;
}
.upper div img{
	width: 100px;
	height: 100px;
}
.logo{
	height: 5%;
}
.btns{
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.page-2{
	height: 0px;
}
.navbar-light .navbar-toggler-icon{
	background-image: none !important;
	font-size: 23px;
}
.navbar-light .navbar-toggler{
	border: none !important;
}
.green-bar{
	border-radius: 10px;
	color: #fff;
	background-color: #21c792;
}
.lginp:focus{
	outline: none !important;
}
.lginp{
	width: 100%;
	padding: 4px;
	border-radius: 0px !important;
	border: none !important;
	border-bottom: 1px solid #111111b8 !important;
}
.loginbtn{
	width: 100%;
	border-radius: 30px !important;
}
/* heights */
.p5{
	height: 5%;
}
.p8{
	height: 8%;
}
.p20{
	height: 20%;
}
.p10{
	height: 10%;
}
.p15{
	height: 15%;
}
.p12{
	height: 12%;
}
.p80{
	height: 80%;
}
.p80{
	height: 80%;
}
.p70{
	height: 70%;
}
.p68{
	height: 68%;
}
.p24{
	height: 24%;
}
.p72{
	height: 72%;
}
.p75{
	height: 75%;
}
.p60{
	height: 60%;
}
.black{
	color: #111111b8;
}

/* page 3 */

.goleft{
	color: #111;
	font-size: 20px;
}

.otps input{
	width: 60px;
	height: 60px;
}

.bra{
	border-radius: 30px !important;
}
.footer-nav{
	
}
.footer-nav div{

}
.tab{
	width: 25%;
  padding: 10px;
  cursor: pointer;
  background-color: green;
}
.tab a i{
	font-size: 25px;
    color: #fff;
}
.footer-nav div div:hover{
	background-color: #034803;
}
.hdline i{
	margin-right: 5px;
	font-size: 20px;
	color: #111;
}
.vcc{
	background-color: #4caf50;
	padding: 5px 10px;
	border-radius: 20px;
	color: #fff;
}
.gr{
	background-color: #009688;
	color: #fff;
}
.ash{
	background-color: #e7e3e3;
}
.news{
	border-radius: 10px;
}
.qr-img img{
 	width: 100%;
 	height: 340px;
}
.org{
	background-color: #ff9800;
	color: #fff;
}
